/*
	see https://github.com/google/code-prettify/blob/master/README.md
	for the prettyprint readme.
*/

pre ol.linenums > li
{
	/*lists all line numbers*/
	list-style-type: decimal;

	/*linenum font color*/
	color:#484848;

	border-left-style: solid;
    border-left-width: 1px;
	border-left-color: #888888;

	padding-left: 5px !important;
	padding-top: 1px;

	/*sets background color for every second line*/
	background: #C8C8C8;
}

pre.scroll
{
	max-height: 400px;
	overflow-y: scroll;
}

pre.rounded
{
	border-radius: 5px;
}

pre.inline
{
	display: inline-block !important;

	overflow: auto;  /*adds scroll bar for wide-lined code*/
}

pre
{
	display: block;
	text-align:left !important;
	background: #C8C8C8;

	/*picks the first available font and resizes*/
	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 85%;
	tab-size: 4;

	max-width: 90%;
	/*overflow: auto;*/

	overflow: auto;  /*adds scroll bar for wide-lined code*/

	border-style: solid;
    border-width: 1px;
	border-color: #888888;

	margin-left: auto !important;
	margin-right: auto !important;

	margin-top: 1px;
	margin-bottom: 1px;

	padding-left: 5px !important;
	padding-right:5px !important;
	padding-top:0 !important;
	padding-bottom:0 !important;

	-moz-box-shadow: 3px 3px 5px #484848;
    -webkit-box-shadow: 3px 3px 5px #484848;
    box-shadow: 3px 3px 5px #484848;
}
